html,
body {
  font-family: 'Muli', sans-serif;
  color: #181D33;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f2683;
  font-weight: 800;
  font-size: xx-large;
}

.container {
  margin-top: 15px;
}

.card {
  background: #fff;
  border-radius: 2px;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  margin-bottom: 60px;
}

.card-body {
  padding: 50px;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #8591c5;
}

a:hover {
  color: #693ba4;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #4f2683;
  background-color: transparent;
}

.table-custom {
  font-size: .9em;
}

.table-head {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: #e9ecef;
  color: #181D33;
}

.table-head div,
.table-body div {
  padding: 20px 15px;
}

.badge {
  display: inline-block;
  border-radius: 0.15em;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media (max-width: 992px) {
  .table-head div,
  .table-body div {
    padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  .card-body {
    padding: 25px;
  }

  .nav-link {
    font-size: .8em;
  }

  .table-head {
    display: none;
  }

  .table-body {
    border-bottom: 1px solid #181D33;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .table-body:last-child {
    border-bottom: none;
  }

  .table-head div,
  .table-body div {
    padding: 5px 10px;
  }

  .table-body p {
    margin-bottom: 0;
  }

  div[data-title]::before {
    content: attr(data-title);
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    font-size: small;
    line-height: 10px;
    margin-bottom: 3px;
  }
}
