* {
  z-index: 2;
}

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #0e141e;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hammersmith One', sans-serif !important;
}

a {
  color: #fff;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  text-decoration: none;
}

section {
  display: block;
  width: 100%;
  min-height: 100%;
}

svg {
  margin-bottom: 10px;
}

.container-fluid {
  padding-left: 75px;
}

.nav {
  position: fixed;
  width: 112px;
  left: 60px;
  top: 38%;
  list-style: none;
  z-index: 100;
}

.nav-item {
  margin-left: -25px;
  margin-bottom: 2px;
}

.nav-link {
  display: block;
  height: 25px;
  background-image: url('../img/hex.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  opacity: 0.4;
  transition: all .3s;
  text-decoration: none;
  font-size: 14px;
  line-height: 15px;
}

.nav-link span {
  opacity: 0;
  padding-left: 10px;
  font-weight: 300;
  color: #fff;
}

.nav-link:hover {
  opacity: 1;
  transition: all .3s;
}

.nav-link.active {
  opacity: 1;
  background-image: url('../img/hex_active.png');
}

.nav-link:hover > span {
  color: #fff;
  opacity: 1;
}

.social-link {
  display: block;
  height: 25px;
  opacity: 0.4;
  transition: all .3s;
  font-size: 14px;
  line-height: 15px;
  text-decoration: none !important;
}

.social-link span {
  opacity: 0;
  padding-left: 10px;
  font-weight: 300;
  color: #fff;
}

.social-link:hover {
  opacity: 1;
  transition: all .3s;
}

.social-link.active {
  opacity: 1;
}

.social-link:hover > span {
  color: #fff;
  opacity: 1;
}

.social hr {
  border-color: rgba(255,255,255,0.1);
  margin-left: -28px;
  margin-bottom: 20px;
  width: 25px;
}

.social li a svg {
  color: #fff;
  margin-bottom: 0;
}

#particle-js canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1 !important;
}

.mobile {
  display: none;
}

.container-fluid {
  display: block;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  color: #fff;
}

.home {
  display: flex;
  align-items: center;
}

.home h1 {
  margin-left: 15%;
  font-size: 48px;
}

.home p {
  margin-top: 100px;
  margin-left: -300px;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-top: 90px;
  margin-bottom: 100px;
}

section {
  padding-left: 25px;
}

section h3 {
  font-size: 44px;
  margin-bottom: 50px;
}

section p {
  text-align: justify;
}

iframe {
  width: 100%;
}

.team {
  margin-top: 75px;
  text-align: center;
}

.member {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.member * {
  box-sizing: border-box;
}

.member img {
  display: block;
  width: 150px;
  border-radius: 150px;
}

.member-top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  transition: all 0.3s;
}

.member:hover .member-top,
.member:active .member-top {
  opacity: 1;
}

.member .member-name {
  text-align: center;
  font-size: 18px;
  display: block;
  margin-top: 38px;
}

.faq {
  padding-bottom: 100px;
}

.faq h4 {
  margin-top: 25px;
}

.sponsor-logos a,
.partner-logos a {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 125px;
  margin: 10px auto;
  max-width: 250px;
}

.register {
  margin-top: 200px;
  margin-left: -132px;
}

@media(max-width: 576px) {
  .container-fluid {
    width: 100%;
    padding-left: 15px;
  }

  .nav {
    display: none;
  }

  section {
    padding-left: 0;
  }

  .home {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .home h1 {
    margin: 200px auto;
    text-align: center;
  }

  .home p {
    margin: -180px auto;
    text-align: center;
  }

  .mobile {
    display: block;
    margin: 150px auto;
    text-align: center;
  }

  .mobile ul {
    list-style: none;
    padding: 0;
  }

  .mobile ul li {
    display: inline-block;
  }

  .register {
    margin-left: 0;
  }
}
